<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col text-center text-pastelyellow">
                    &copy; 2018 New York Times 
                </div>
            </div>
        </div>
    </footer>